<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0">Otel Lokasyonları</h4>
                <div id="world-map" style="height: 470px;"></div>
            </div>
        </div>
    </div>
</div>