<div class="footer">
    <div class="copyright">
        <p>Copyright &copy; Designed & Developed by <a href="https://www.linkedin.com/in/furkan-soylu-8169b0294/">Furkan Soylu</a> 2024</p>
    </div>
</div>